@import "../../mixin.scss";

.team {
  background: white;
  @include flexy();
  @include mobile{
    position: relative;
  }
//   direction  indicator

.arrow{
    height: 50px;
    position: absolute;
    filter: none;
    cursor: pointer;
    @include tablet-2{
      height: 30px;
    }
    @include mobile{
      height: 25px;
      filter: none;
    }
    &.right{
        right: 150px;
        transform: rotate(-90deg);
        @include tablet-2{
          right:80px;
        }

        @include tablet{
          bottom: 38%;
        }
        @include mobile{
          bottom: 33%;
          right: 50px;
          filter: invert(100%);
        }
        
    }
    &.left{
        left: 150px;
        transform: rotate(90deg);
        @include tablet-2{
          left:80px;
        }

        @include tablet{
          bottom: 38%;
        }
        @include mobile{
          bottom: 33%;
          left: 50px;
        }
        
    }
}
// carousel
  .slider {
    height: 350px;
    display: flex;
    
    position: absolute;
    left: 0;
    transition: all 1s ease-in;
    @include mobile {
      // height: 0vh;
      // flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      @include flexy();
      
      padding-bottom: 40px;
      .item {
        width: 700px;
        height: 100% !important;
        box-shadow: 0px 0px 15px -8px black;
        background: rgb(247, 246, 246);

        border-radius: 20px;
        &:hover {
          box-shadow: 0px 0px 20px -8px black;
        }
        @include flexy();
        @include mobile {
          width: 90vw;
          // margin: 45px 0px;

        }
  

        .left {
          flex: 5;
          height: 80%;
          @include flexy();

          .leftContainer {
            width: 90%;
            height: 70%;
            @include flexy();
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .imgContainer {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              background: white;
              @include flexy();
              position: relative;
              z-index: 4;

              img {
                width: 40px;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 5;
          height: 100%;
          background: rebeccapurple;
          @include flexy();
          border-radius: 0%;

          img {
            // min-width: 400px;
            border-radius: 50%;
            max-width: 100%;
            max-width: 200px;
            max-height: 200px;
            // max-width: 80%;
            // min-width: 80%;
            // max-height: 100%;
            // transform: rotate(-10deg);
            overflow: hidden;
          }
        }
      }
    }
  }
}
