@import "../../variables.scss";
@import "../../mixin.scss";
.portfolioList{
    font-size: 14px;
    margin-right: 40px;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;

    @include mobile {
      margin-right: 5px;
    }

    &.active {
      background: $mainColor;
      color: white;
    }
  }