@import "../../mixin.scss";

.testimonials {
  @include flexy();
  flex-direction: column;
  @include mobile{
    justify-content: space-around;
  }
  h1 {
    font-size: 50px;
    @include mobile{
      font-size: 20px;
      margin: 20px 0px;
    }
  }

  .container {
    width: 100%;
    height: 80%;
    @include flexy();
    @include tablet-2{
      // flex-direction: column;
      flex-wrap: wrap;
  }
    @include mobile{
      flex-direction: column;
      height: 100%;
    }

    .card {
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      @include flexy();
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease-in;
      @include tablet-2{
        height: 40%;
        width: 300px;
    }
      @include mobile{
        height: 180px;
      }

      &.featured{
          width: 300px;
          height: 75%;
          margin: 0 30px;
          @include tablet-2{
            height: 45%;
            width: 350px;
        }
    
          @include mobile{
            width: 250px;
            height: 180px;
            margin: 10px 0px;
          }
      }
      &:hover {
        box-shadow: 0px 0px 20px -8px black;
        transform: scale(1.1)
      }
      .top {
        @include flexy();

        img {
          &.left,
          &.right {
            height: 25px;
          }
          &.user {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            @include mobile{
              width: 40px;
              height: 40px;
            }
          }
        }
      }
      .center{
          padding: 15px;
          background: rgb(250, 241, 253);
          border-radius: 10px;
          min-height: 150px!important;
          @include mobile{
            font-size: 12px;
            padding: 5px;
            min-height: unset!important;
            
          }
      }
      .bottom{
          @include flexy();
          flex-direction: column;

          h3{
              margin-bottom: 5px;
              @include mobile{
                font-size: 13px;
              }
          }
          h4{
              color: rgba(15, 15, 15, 0.619);
              @include mobile{
                font-size: 12px;
              }
          }
      }
    }
  }
}
