@import "../src/mixin.scss";
a{
    text-decoration: none;

}
.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        @include hidescroll();

        > *{
            width: 100vw;
            height:calc(100vh - 70px) ;
            scroll-snap-align:start;
        }
    }
}