// Mobile responsiveness
$width: 768px;
// Tablet responsiveness
$tab-width: 790px;
$tab-width-2: 1024px;

@mixin flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin bars {
  background: $mainColor;
  position: fixed;
  top: 0;
}

@mixin hidescroll {
  scroll-snap-type: y mandatory;
  // hide scroll bar
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar {
    display: none; //for other browsers
  }
}

// responsiveness
@mixin mobile{
  @media (max-width: #{$width}) {
    @content
  }
}
// Tablet
@mixin tablet{
  @media (max-width: #{$tab-width}){
    @content
  }
}
@mixin tablet-2{
  @media (max-width: #{$tab-width-2}){
    @content
  }
}